<div class="side-nav-content">
    <h4 class="p-1">Main Menu</h4>
    <ul class="nav-list">
        <li class="nav-list-item">
            <i class="fa-solid fa-graduation-cap"></i>
            <span><a href="">Dashboard</a></span>
            <i class="fa-solid fa-chevron-down"></i>
        </li>
        <li class="nav-list-item">
            <i class="fa-solid fa-graduation-cap"></i>
            <span><a href="">Students</a></span>
            <i class="fa-solid fa-chevron-down"></i>
        </li>
        <li class="nav-list-item">
            <i class="fa-solid fa-chalkboard-user"></i>
            <span><a href="">Teacher</a></span>
            <i class="fa-solid fa-chevron-down"></i>
        </li>
        <li class="nav-list-item">
            <i class="fa-solid fa-building"></i>
            <span><a href="">Department</a></span>
            <i class="fa-solid fa-chevron-down"></i>
        </li>
        <li class="nav-list-item">
            <i class="fa-solid fa-book-open"></i>
            <span><a href="">Subjects</a></span>
            <i class="fa-solid fa-chevron-down"></i>
        </li>
    </ul><br>
    <h4>Management</h4>
    <ul class="nav-list">
        <li class="nav-list-item">
            <i class="fa-sharp fa-solid fa-file-invoice-dollar"></i>
            <span><a href="">Accounts</a></span>
            <i class="fa-solid fa-chevron-down"></i>
        </li>
        <li class="nav-list-item">
            <i class="fa-solid fa-calendar-minus"></i>
            <span><a href="">Holiday</a></span>
            <i class="fa-solid fa-chevron-down"></i>
        </li>
        <li class="nav-list-item">
            <i class="fa-solid fa-comments-dollar"></i>
            <span><a href="">Fees</a></span>
            <i class="fa-solid fa-chevron-down"></i>
        </li>
        <li class="nav-list-item">
            <i class="fa-solid fa-book-open"></i>
            <span><a href="">Exam List</a></span>
            <i class="fa-solid fa-chevron-down"></i>
        </li>
        <li class="nav-list-item">
            <i class="fa-sharp fa-solid fa-calendar"></i>
            <span><a href="">Events</a></span>
            <i class="fa-solid fa-chevron-down"></i>
        </li>
    </ul>
</div>
